.hero_container{
    background-image: url(../assets/boxing_website_imgjpeg.jpeg); /* Replace with the path to your background image */
    background-size: cover;
    background-position: center;
    height: 90vh; /* Adjust the height as needed */
    width: 100vw;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    color: white; /* Text color */
    position:relative;
}
p{
    position: absolute;
    left: 0%;
    top: 60%;
    max-width: 700px; /* Set maximum width of this p element*/
    font-size: 2em; /* Adjust font size as needed */

}